# Local Libraries (from VENV)

Flask==3.0.1
pandas==2.1.4
scikit-learn==1.4.0
SQLAlchemy==2.0.25
typing_extensions==4.9.0

# Global Libraries
altgraph==0.17.4
beautifulsoup4==4.12.2
blinker==1.7.0
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
DateTime==5.4
distlib==0.3.8
Eel==0.16.0
filelock==3.13.1
fonttools==4.47.2
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
lxml==5.1.0
MarkupSafe==2.1.3
matplotlib==3.8.2
numexpr==2.8.8
numpy==1.26.3
packaging==23.2
pandastable==0.13.1
pefile==2023.2.7
pillow==10.2.0
pipenv==2023.11.15
platformdirs==4.1.0
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
schedule==1.2.1
scipy==1.11.4
seaborn==0.13.1
setuptools==69.0.3
six==1.16.0
soupsieve==2.5
threadpoolctl==3.2.0
tzdata==2023.4
urllib3==2.1.0
virtualenv==20.25.0
Werkzeug==3.0.1
whichcraft==0.6.1
xlrd==2.0.1
zope.event==5.0
zope.interface==6.1