<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add CSS StyleSheet & Bootstrap-->
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&family=Wellfleet&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@700&display=swap" rel="stylesheet">

    <!-- Mobile Compatability-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Movie-ME</title>
</head>
<body>
    <div class="wrapper">
    <header>
        <div class="container">
            <h1 class="animated-title" data-heading="ME">Movie-ME</h1>
        </div>
    </header>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="container animated-content" >
        <form method="post" action="/" id="recommendationForm">
            <div class="form-group">
                <label for="movie_name">Enter Movie Name:</label>
                <input type="text" class="form-control" id="movie_name" name="movie_name" placeholder="Pulp Fiction (1994)" required>
                <div id="suggestions-container"></div>
            </div>
        
            <div class="form-group">
                <label for="movie_genres">Movie Genres</label>
                <input type="text" class="form-control" id="movie_genres" name="movie_genres" placeholder="This fills in automatically" required>
            </div>
        
            <button type="submit" class="btn btn-primary animated-button">Get Recommendations</button>
        </form>

        <div class="recommendations">
            <table class="table table-striped" id="recommendations-table">
                <thead>
                    <tr>
                        <th>Movie Title</th>
                        <th>Genres</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody id="recommendations-body">
                    <!-- Recommendations will be appended here -->
                    
                </tbody>
            </table>
        </div>
        </div>
        
        
    </div>
    <!-- FOOTER-->
    <footer>
            <p class="footer-copyright">&copy; MovieME 2024 | Developed by  GeorgeM7784</p>
        <div>
            <ul>
              <li><a href="mailto:georgem7784@gmail.com">Email</a></li>
              <li><a href="https://github.com/georgey7784">Github</a></li>
              <li><a href="https://www.linkedin.com/in/george-meadows-bb323229a/">LinkedIn</a></li>
            </ul>
          
          <a class="support-me" a href="{{ url_for('loading') }}" target="_blank">
            <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a Coffee&nbsp&emoji=&slug=marioduarte&button_colour=FF5F5F&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00">
        </a>
    </div>

        </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>
</html>
