<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add CSS StyleSheet & Bootstrap-->
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;https://www.buymeacoffee.com/georgeym7784" />
    <link rel="stylesheet" type="text/css" href="../static/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&family=Wellfleet&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@700&display=swap" rel="stylesheet">

    <!-- Mobile Compatability-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Loading..</title>
</head>
<div>Thank you</div> 
<div> 
  <span>for donating</span>
</div>
<script src="{{ url_for('static', filename='js/script2.js') }}"></script>
</body>
</html>